.sidebar-container {
  width: 20vw;
  overflow: auto;
  height: 100vh;
}

.logout-btn-container {
  position: absolute;
  bottom: 0%;
  width: 20vw;
}

.logout-btn {
  width: 100% !important;
  margin: 0 !important;
  border: 0;
  background-color: var(--primary--dim);
  color: var(--white);
}
