.userinfo-container {
  position: absolute;
  top: 5%;
  left: 2%;
  color: var(--white);
  display: grid;
  row-gap: 2em;
}

.username-container {
  font-size: 2em;
  font-weight: bold;
}

.useraccounts-container {
  font-size: 1.1em;
  display: grid;
  row-gap: 0.5em;
}

.add-account-btn {
  font-size: 1.5em;
  font-weight: bold;
}
