.userinfo-container {
  position: absolute;
  top: 5%;
  left: 2%;
  color: var(--white);
  display: grid;
  row-gap: var(--m);
}

.username-container {
  font-size: var(--l);
  font-weight: bold;
}

.useraccounts-container {
  font-size: var(--m);
  display: grid;
  row-gap: var(--s);
}

.add-account-btn {
  font-size: var(--l);
  font-weight: bold;
}
