.userinfo-container {
  position: relative;
  top: 5%;
  left: 10%;
  width: 15vw;
  color: var(--white);
  display: grid;
  row-gap: var(--m);
}

.username-container {
  font-size: var(--l);
  font-weight: bold;
}

.useraccounts-container {
  font-size: var(--m);
  display: grid;
  row-gap: var(--s);
  width: 15vw;
  position: relative;
}

.useraccount-cell-container {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* .useraccount-cell-container::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: var(--l);
  height: 1em;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    var(--primary) 50%
  );
} */

/* .useraccount-cell-container:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  background: linear-gradient(to right, transparent, var(--primary));
  width: 100%;
  z-index: 1;
} */

.add-account-btn {
  font-size: var(--l);
  font-weight: bold;
}
