.intro-page-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--primary);
}

.intro-container {
  position: absolute;
  right: 55%;
  top: 50%;
  left: 5%;
  color: var(--white);
}

.intro-title-container {
  font-size: var(--l);
  font-weight: bold;
}

.intro-feature-container {
  margin-top: 3%;
  margin-bottom: 3%;
  font-size: var(--m);
  text-align: justify;
}

.intro-message-container {
  font-size: var(--l);
  font-weight: bold;
}

.intro-btn {
  border: none;
  color: var(--black);
  font-weight: bold;
  font-size: var(--m);
  width: 30%;
  background-color: var(--primary--light);
}

.intro-image-container {
  position: absolute;
  left: 50%;
  right: 0%;
  /* overflow: hidden; */
  height: 100vh;
  /* background-color: var(--primary--light); */
}

.intro-image {
  position: relative;
  top: 5%;
  max-width: 45vw;
  max-height: 90vh;
}
